@model WebDevProject.Models.TopicViewModel
<!-- This container div holds the whole page. -->
<div class="container mainBody">
    <!-- The row div holds the left and right pane, which is a majority of the page. -->
    <div class="row">

        <!-- The leftpane holds the list/buttons. The col-4 defines it as 4 panels wide in bootstrap, the scrollable-menu lets the CSS define it as a scrolling element, and the leftPane lets the CSS customize it specifically. -->
        <div class="col-4 scrollable-menu leftPane listPane">
            <div>
                <!--  Right now all the list items are just text, but we should be able to replace them with the button things. -->
                <ul>
                    @foreach (var item in Model.Questions)
                    {
                        <li><a href="/Home/MultipleChoiceView/@item.Id">@item.Id</a></li>
                    }
                </ul>
            </div>

        </div>

        <!-- The rightPane holds all instructor material. Later it can also be covered up by expanding lists, which I haven't made. col-8 defines it as 8 pandels wide in bootstrap, scrollable-menu let's CSS apply scrolling to it, and rightPane allows CSS to customize it specifically. -->
        <div class="col-8 scrollable-menu rightPane">

            <!-- This place can be filled with teacher supplied text. We should probably still sanitize this input somehow. -->
            <div class="jumbotron">
                <h1>@Html.DisplayFor(model => model.theTopic.topicTitle)</h1>
                <p>@Html.DisplayFor(model => model.theTopic.lectureText)</p>
            </div>
            <!-- We can put a teacher supplied Youtube link here to display it. -->
            <div class="YoutubeVideo">
                <iframe src="@Html.DisplayFor(model => model.theTopic.videoURL)" frameborder="0" allowfullscreen></iframe>
            </div>

            <!-- We can put a teacher supplied mp4/ogg file here to display it, currently it must be name "Video.mp4" or "Video.ogg -->
            <div class="UploadVideo">
                <video controls>
                    <source src="Video.mp4" type="video/mp4">
                    <source src="Video.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>